* {
  box-sizing: border-box;
}

body {
  margin: auto;
  text-align: center;
  width: 80%;
  font-family: Arial;

  .compare-namer-input {
    border: 2px solid black;
    width: 100%;
    height: 60px;
    font-size: 20px;
    z-index: 10;
  }

  &.hover-all {
    img, a, li {
      cursor: pointer;
    }
    img {
      &:hover {
        border: 2px solid green;
      }
    }
    a {
      &:hover {
        border: 2px solid blue;
      }
    }
    ul {
      &:hover {
        border: 2px solid #ff2bc1;
      }
    }
    li {
      &:hover {
        border: 2px solid #27a9ff;
      }
    }
    p {
      &:hover {
        border: 2px solid #ff9119;
      }
    }
    h1, h2, h3, h4, h5 {
      &:hover {
        border: 2px solid #ff2438;
      }
    }
  }
}

.wrapper {
  flex-direction: row;
  li {
    width: 20%;
    display: inline-block;
  }

  .img-wrapper {
    width: 100%;
    img {
      width: 100%;
    }
  }
}

.compare-button-wrapper {
  position: fixed;
  bottom: 5%;
  right: 5%;
  button {
    background: red;
    color: white;
    height: 30px;
    width: 90%;
    border: none;
    font-size: 15px;
  }
}

.comparison-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
